// ===== Operand Load Tables =====
{% for f in range(1, num_active_features+1) %}
table f{{ f }}_op_load_table {
    key = { ig_md.sid : exact; }
    actions = {
{% for feat in features %}
        load_{{ feat.name }}_f{{ f }};
{% endfor %}
        NoAction;
    }
    size = 32;
}
{% endfor %}

// ===== Feature Encode Tables =====
{% for f in range(1, num_active_features+1) %}
table f{{ f }}_table {
    key = {
        ig_md.sid : exact;
        ig_md.f{{ f }} : ternary;
    }
    actions = { f{{ f }}_encode; NoAction; }
    size = 2048;
}
{% endfor %}
