// ===== Register Index Selection =====
{% for r in range(1, GEN_REGS_PER_FEATURE + 1) %}
action set_reg_index_{{ r }}() {
    ig_md.state_index = {{ r }};
}
{% endfor %}

table reg_index_table {
    key = {
        ig_md.flow_hash : range;
    }
    actions = {
{% for r in range(1, GEN_REGS_PER_FEATURE + 1) %}
        set_reg_index_{{ r }};
{% endfor %}
        NoAction;
    }
    size = {{ GEN_REGS_PER_FEATURE }};
    default_action = NoAction();
}
